// color設定
$grey1: #eee;
$grey2: #222;
$grey3: #444;
$grey4: #ccc;
$white: #FAF8F4;
$brown: #4B4237;
$yellow: #FFDC2D;
$black: #050505;
$blue: #1B9AAA;
$red: rgb(223, 120, 120);


// 共通
*{
  -webkit-appearance: none;
  a{
    color: #222;
  }
  a:hover{
    opacity: .9;
    color: $brown;
    text-decoration: none;
  }
  box-sizing: border-box;
  .center{
    text-align: center;
  }
}





// font設定
*{
  font-family: 'Source Sans Pro', 'Noto Sans JP', sans-serif;
}

h2{
  font-family: 'Secular One', sans-serif;
}

