// 共通
*{
  a{
    color: #222;
  }
  a:hover{
    opacity: .9;
    color: #444;
    text-decoration: none;
  }
  box-sizing: border-box;
}

// color設定
$grey1: #eee;
$grey2: #222;
$grey3: #444;
$grey4: #ccc;

