// 共通
*{
  a{
    color: #222;
  }
  a:hover{
    opacity: .9;
    color: #444;
    text-decoration: none;
  }
  box-sizing: border-box;
  .center{
    text-align: center;
  }
}

// color設定
$grey1: #eee;
$grey2: #222;
$grey3: #444;
$grey4: #ccc;
$white: #EDE7D9;
$brown: #4B4237;
$yellow: #D8A835;
$black: #050505;
$blue: #1B9AAA;




// font設定
*{
  font-family: 'Source Sans Pro', 'Noto Sans JP', sans-serif;
}

h2{
  font-family: 'Secular One', sans-serif;
}

