.container
  .main
    #top.contents
    #profile.contents
      .about
        .title
          %h2.center about
          %h3.center 自己紹介
        .content
          = image_tag '', alt: '', height: '', width: '', class: ''
          %ul
            %li
              aaa
            %li
              aaa
            %li
              aaa
            %li
              aaa
        .btn_box
          .btn
            =link_to "a", ""

    #works.contents
      iiii
    #skills.contents
      uuuu
    #contact.contents
      eeeee

