.container
  .main
    #top.contents
      .top_message
        %h2
          Update Tomorrow
    #profile.contents
      .about
        .title
          %h2.center about
          %h3.center 自己紹介
        .content
          = image_tag 'profile.jpg', alt: 'profile-image', class: 'profile-image'
          %ul.profile_list
            %li
              名前：峰松 峻也(1990年生)
            %li
              出身地：広島県尾道市
            %li
              最終学歴：立命館大学経済学部
            %li
              っz
        .btn_box
          .btn
            =link_to "a", ""

    #works.contents
      iiii
    #skills.contents
      uuuu
    #contact.contents
      eeeee

