.container{
  .main{
    .content{
      height: 100vh;
    }
    #profile{
      background: #fefefe;
    }
    #works{
      background: #eee;
    }
    #skills{
      background: #fefefe;
    }
    #contact{
      background: #eee;
    }
  }
}