.container{
  .main{
    .content{
      padding-top: 60px;
      height: calc(100vh);
    }
    #profile{
      background: #fefefe;
    }
    #works{
      background: #eee;
    }
    #skills{
      background: #fefefe;
    }
    #contact{
      background: #eee;
    }
  }
}