%header
  .logo
    = image_tag 'logo.png', alt: 'mine_logo', height: '40px', width: 'auto', class: 'logo_img'
  .menu
    %nav
      = link_to "テスト", ""
      = link_to "テスト", ""
      = link_to "テスト", ""